@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
-->

<address>
    <strong>Email:</strong>   <a href="mailto:phillipac718@gmail.com">PhillipAC718@gmail.com</a><br />
    <strong>Work:</strong> <a href="mailto:pclontz@mcssk12.org">pclontz@mcssk12.org</a>
</address>