<div class="jumbotron center">
    <h2>Haunt Map</h2>
    <p>
        This is a webapp that lets you view local ghost stories as you walk around. Create an account to add your own stories!
    </p>@Html.ActionLink("Haunt Map", "Map", "Haunts", null, new { @class = "btn btn-primary btn-lg" })
</div>