@model IEnumerable<haunt_map_users.ViewModels.HauntViewModel>

@{
    ViewBag.Title = "Map";
}

<h1 style="text-align: center">Map </h1>
<div id="map" style="height: 400px; width: 100%;"></div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/googlemapicons")
    @Scripts.Render("~/bundles/geolocation")
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAe8MfxGp3mpDLGvV6PhBQXjJ62YaC46XY&v=3&amp;sensor=false"></script>
    <script>
        var haunts = [];


        $('document').ready(function () {
            $.ajax({
                url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Haunts"})',
                type: 'GET',
                dataType: 'JSON',
                success: function (data, textStatus, jqXHR) {
                    haunts = data;
                    geoLocation.request_distance();
                }
            });
        });
    </script>
}

