<footer class="footer">
    <small>
        Created by Phillip Clontz - &copy; @DateTime.Now.Year
    </small>
    <nav>
        <ul>
            <li><a href="phillipac.github.io">Website: phillipac.github.io</a></li>
            <li><a href="www.github.com/phillipac">Github: PhillipAC</a></li>
            <li><a href="mailto:phillipac718@gmail.com"><span class="glyphicon glyphicon-envelope"></span>PhillipAC718@gmail.com</a></li>
        </ul>
    </nav>
</footer>
